/** Add css rules here for your application. */
body {
	margin: 0 !important;
}


#contentmenu {
	
	padding-top: 50px;


}


/* Middle
---------------------------------------------------1-------------------------*/
#content {
	padding-top : 50px;
}
